.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
  display: inline;
}

.App-intro {
  font-size: large;
}

.signup--button {
  float: right;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board__title span {
  display: block;
  font-size: 36px;
  width: 20%;
}

.board__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.col {
  border: black 2px solid;
  padding: 10px;
}

.board__title {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-evenly;
  width: 50%;
}

.marked {
  background-color: crimson;
  color: white;
}

@media (min-width:800px) {
  .board__container {
    margin: 0 auto;
    width: 50%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}